@using TechJobs6Persistent.ViewModels
@model TechJobs6Persistent.ViewModels.AddJobViewModel


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Employer</label>
        <select class="form-control" asp-for="EmployerId" asp-items="@Model.Employers">
            <option value="">Select An Employer</option>
        </select>
    </div>
    <div class="form-group">
        <a asp-controller="Employer" asp-action="Create">Add New Employer</a>
    </div>

    <br />

    <input type="submit" value="Add Job" />
</form>